snippet - "->"
${1:a} -> $0
endsnippet

# function application inside parens
snippet (- "->"
(${1:a} -> $0
endsnippet

snippet = "Type constraint"
${1:Type} => $0
endsnippet

snippet :: "Type signature"
${VISUAL}${1:f} :: $0
endsnippet

